* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 10px;
}

@import "theme.css";

window#waybar {
    background: @black;
    border-radius: 10px;
}

tooltip {
    background: @fg;
    color: @main-fg;
    border-radius: 5px;
    border-width: 0px;
}

#workspaces button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    padding-left: 4px;
    padding-right: 7px;
    margin-right: 0px;
    color: #d6d1ff;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    background: #d6d1ff;
    color: @bg;
    margin-left: 0px;
    padding-left: 6px;
    padding-right: 11px;
    margin-right: 0px;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 6px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 0px;
    color: @wb-color;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    margin-left: 2px;
    padding-left: 9px;
    padding-right: 9px;
    margin-right: 2px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tray menu * {
    min-height: 16px
}

#tray menu separator {
    min-height: 10px
}

#backlight,
#battery,
#bluetooth,
#custom-cliphist,
#clock,
#custom-cpuinfo,
#cpu,
#custom-gpuinfo,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-notifications,
#pulseaudio,
#custom-spotify,
#taskbar,
#custom-theme,
#tray,
#custom-updates,
#custom-wbar,
#window,
#workspaces,
#disk,
#custom-m_playpause,
#custom-cava,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
    color: @fg;
    background: @bg;
    opacity: 1;
    margin: 3px 0px 3px 0px;
    padding-left: 3px;
    padding-right: 6px;
}


#disk {
  color: @magenta
}

#cpu {
  color: @cyan;
}

#clock {
  color: @cyan;
}

#memory {
  color: @yellow;
}

#custom-m_playpause {
  color: @green;
}

#custom-m_next {
    color: @green;
    background: @bg;
    opacity: 1;
    margin: 3px 0px 3px 0px;
    padding-left: 4px;
    padding-right: 6px;
    font-size: 17px;
}

#custom-m_pre {
    color: @green;
    background: @bg;
    opacity: 1;
    margin: 3px 0px 3px 0px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 17px;
}

#custom-power {
    color: @red;
    background: @bg;
    opacity: 1;
    margin: 3px 0px 3px 0px;
    padding-left: 2px;
    padding-right: 10px;
}


#custom-wallchange {
    color: #d6d1ff;
    background: @bg;
    opacity: 1;
    margin: 3px 0px 3px 0px;
    padding-left: 3px;
    padding-right: 6px;
    font-size: 16px;
}

#workspaces,
#taskbar {
    padding: 0px;
}

#custom-r_end {
    border-radius: 0px 16px 16px 0px;
    margin-right: 6px;
    padding-right: 0px;
}

#custom-l_end {
    border-radius: 16px 0px 0px 16px;
    margin-left: 6px;
    padding-left: 0px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 6px;
    padding-right: 0px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 6px;
    padding-left: 0px;
}

#custom-rr_end {
    border-radius: 0px 5px 5px 0px;
    margin-right: 6px;
    padding-right: 0px;
}

#custom-rl_end {
    border-radius: 5px 0px 0px 5px;
    margin-left: 6px;
    padding-left: 0px;
}

#custom-padd2 {
    color: @blue;
    background: transparent;
    opacity: 1;
    margin: 3px 0px 3px 0px;
    padding-left: 3px;
    padding-right: 6px;
}

#custom-padd {
    color: @bg;
    background: transparent;
    opacity: 1;
    margin: 3px 0px 3px 0px;
    padding-left: 3px;
    padding-right: 6px;
}
